h1 {
	text-align: center;
	color: #D8DEE9;
}
.flexbox {
	display:flex;
	flex-wrap: wrap;
	align-content:space-between;
	height: 200px;
	width: 100%;
}
li {
	color: #D8DEE9;
	list-style-type: none;
	margin: 2px 2px;
	padding: 3px 3px;
}
.leftColText{
	background-color:#3b6aa3;
}
.riColText{
	background-color:#3b6aa3;
}
button{
	font-size:15px;
}
.titleList {
	text-align: center;
}
body {
	background-color: #19B8E6;
}
button {
	color:#3b6aa3;
}
.VCtext{
	display: none;
}
.VCbutton{
	text-align: center;
}
.gametypetext{
	display: none;
}
.generaltext{
	display:none;
}
/*Desktop*/
@media only screen and (min-width:1100px){
.leftColText{
	width:33%;
}
.riColText{
	width: 33%;
}
li {
	font-size:25px;
}
.titleList{
	font-size:30px;
}
}
/*Tablet*/
@media only screen and (max-width: 1099px) and (min-width: 700px){
	.leftColText{
		width:50%;	
	}
	.riColText{
		width:50%;
	}
	li {
		font-size:20px;
	}
	.titleList{
		font-size:25px;
	}
}
/*Mobile*/
@media only screen and (max-width: 699px){
	.leftColText{
		width:100%;	
	}
	.riColText{
		width:100%;
	}
	li {
		font-size:15px;
	}
	.titleList{
		font-size: 20px;
	}
}

