/* For media queries for this page, hard code the button for the form and create fixed values for the other archive buttons. Change their sizes in the queries.*/

body{
	background-color: #19b8e6;
}

form{
	font-size: 200%;
	text-align: center;
	background-color: #3b6aa3;
	color: #D8DEE9;
	width: 60%;
	margin-left: 21%;
}

input[type=text]{
	
	width: 40%;
	height: 50px;
	background-color:#D8DEE9; 
}

input[type=submit]{
	
	width: 40%;
	height: 50px;
	background-color:#D8DEE9; 
}

input[type=file]{
	
	font-size: 100%;
	margin-left: 16%;
	margin-top: 10px;
	box-sizing: border-box;
}

button{
	margin: 2%;
	font-size: 18px;
	width: 20%;
	border-radius: 12px;
	background-color: #D8DEE9;
	margin-left: 40%;
}

h3{
	background-color: #D8DEE9;
	color: #3b6aa3;
	font-size: 200%;
	width: 40%;
	text-align:center;
	margin-left: 30%;
	border: 3px solid #3b6aa3;
}

h4{
	color: #3b6aa3;
	font-size: 180%;
	background-color: #D8DEE9;
	text-align: center;
	text-decoration: underline;
}

.archives p{
	display: none;
	font-size: 18px;
	background-color: #3b6aa3;
	color: #D8DEE9;
	padding: 3%;
}

.guidelinesBeg{
	text-align: center;
	background-color: #3b6aa3;
	color: #D8DEE9;	
	margin-bottom: 0px;
	font-size: 120%;

}

.guidelinesList{
	background-color: #3b6aa3;
	color: #D8DEE9;	
	margin-top: 0px;
	font-size: 120%;
}
.guidelinesList p{
	font-weight: bold;
}

.guidelinesEnd{
	background-color: #D8DEE9;
	color: #3b6aa3;
	font-weight: bold;
	margin: 3%;
	padding-left: 5px;
	padding-right: 5px;
}

#pageBanner{
	background-color: #3b6aa3;
	color: #D8DEE9;
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	width: 100%;
	padding-top: 0.01%;
	padding-bottom: 0.01%;
	border-style: solid;
	border-color: #D8DEE9; 
}
